@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

.sub2 {
    width: 100%;
    margin: 0 auto 5% auto;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 2%;
    border: 1px solid rgba(255, 255, 255, 0.253);
    border-radius: 10px;
    background-color: #121212;
    box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
}

.header2 {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.header2 nav {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header2 nav #div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.244);
    background-color: #3333331a;
    padding: 0.5% 2%;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.header2 nav #div1.expand-search {
    width: 100%;
}

.header2 nav #div1 .search_visible {
    width: 80%; 
    height: 30px;
    margin: 0 1%;
    padding: 0 3% 0 2%;
    border: 0;
    background-color: transparent;
    outline: 0;
    display: inline-block;
}

.header2 nav #div1 .search_hidden {
    display: none;
    width: 20vw; 
    height: 30px;
    margin: 0 1%;
    padding: 0 3% 0 2%;
    border: 0;
    background-color: transparent;
    outline: 0;
}

.header2 nav #div1:hover {
    background-color: rgba(61, 61, 61, 0.255);
}

.header2 nav .div2{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
}

.header2 nav .div2-hidden {
    display: none;
}

.header2 nav .div3 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
}

.header2 nav .div3-hidden {
    display: none;
}

.header2 nav .link {
    margin: 0 5%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header2 nav .link span{
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.434);
    transition: all 0.2s linear;
}

.header2 nav .link span:hover{
    color: #ffffff;
    scale: 1.1;
}

.header2 nav .active span{
    color: white;
}
.search-close-btn-visible {
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 10px; 
}

.search-close-btn-hidden {
    display: none;
}

.subnav-icon{
    display: none;
}

@media only screen and (max-width: 1024px) {
    .sub2 {
        margin-top: 3%;
        
    }
}

@media only screen and (max-width: 796px) {

    .header2 nav #div1 {
        border: 0;
        background-color: #121212;
        padding: 2% 2%;
        margin: 0 2%;
        transition: all 0.3s ease;
        /* border: 1px solid green; */
    }
    .sub2 {
        margin-top: 3%;
        /* border: 1px solid violet; */
    }

    #div1 .search_visible {
        display: inline-block;
        width: 60%;
    }

    #div1 .search_hidden {
        display: none;
    }
    .link span{
        display:none;
    }
    .subnav-icon{
        display: inline;
    }
    

    .header2 nav .div2{
        /* border: 1px solid orange; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 2%;
        
    }

    .header2 nav .div2 .link{
        border: 0;
        background-color: #121212;
        padding: 2% 2%;
        margin: 0 2%;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .header2 nav .div2 .link span{
        color: #ff0606;
    }

    .header2 nav .div3{
        /* border: 1px solid plum; */
        margin: 0 2%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    .header2 nav .div3 .link{
        border: 0;
        background-color: #3333331a;
        padding: 2% 2%;
        border-radius: 50%;
        margin:  0 5%;
        transition: all 0.3s ease;
    }
    .header2 nav{
        justify-content: center;
    }
    .header2 nav .link .subnav-icon , #search{
        opacity: 0.5;
    }
    
    .header2 nav .active .subnav-icon,#seach{
        opacity: 1;
    }

}

@media only screen and (max-width: 481px) {
    .sub2 {
        top: 5% ;
        margin-top: 5%;
    }

    #div1 .search_visible,#div1 .search_hidden,.div2,.div3 {
        display: none;
    }
    #div1 .search_visible {
        display: inline-block;
        
    }

    .search-close-btn-visible {
        display: inline-block;
    }
}
